<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="/login" class="h1"><b>Grupo</b>Exi</a>
        <% flash.get('mensaje').forEach(function (msg){ %>
          <div class="alert alert-danger text-center" role="alert">
              <%=msg%>
          </div>
      <% }) %>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Ingresa la nueva contraseña</p>

        <form action="/recover-password" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="password" id="password" placeholder="Contraseña" required>
            <input type="text" name="usuarioId" id="usuarioId" value="<%=usuario%>" style="display:none;">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Recuperar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
